{% filter indent(config.get('indent_level', 0), True) %}
# Modules

{% if nodes|length > 0 %}
Here is a list of all modules:
{% for node in nodes|sort(attribute='title') recursive %}
{% if node.is_group %}
* [**{{node.title}}**]({{node.url}}) {{node.brief}}
{% if node.has_children %}
  {{- loop(node.children)|indent(4, true) }}
{% endif %}
{% endif -%}
{% endfor %}
{% else %}
No modules found.
{% endif %}

{% endfilter %}
