---
header: False
breadcrumbs: False
---
{% filter indent(config.get('indent_level', 0), True) %}

# {{node.kind.value|title}} {{node.name_long}}

[**File List**](files.md)
{%- for child in node.parents -%}
{{'**>**'|indent(1, true)}} [**{{child.name_long if node.is_group else child.name_short}}**]({{child.url}})
{%- endfor %}

[Go to the documentation of this file]({{node.url}})

{{node.programlisting | use_code_language(node.code_language)}}

{% endfilter %}
